html,
body,
body > .container {
  height: 100%;
}

body {
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

html {
  overflow-y: scroll; // stop nav jumping when the scroll bar is introduced
}
